/* src/components/HeaderTabs.css */

.tabs-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.tab-list {
  display: flex;
  gap: 8px;
  background-color: #474787;
  padding: 6px;
  border-radius: 9999px;
  transition: background-color 0.3s ease;
}

.tab-button {
  padding: 8px 16px;
  font-size: 0.9rem;
  font-weight: 600;
  border-radius: 9999px;
  border: none;
  cursor: pointer;
  
  /* Стили для неактивной вкладки по умолчанию */
  background-color: transparent;
  color: #AAABB8;
  
  /* Плавный переход для всех свойств */
  transition: all 0.2s ease;
}

.tab-button:hover {
  background-color: rgba(236, 236, 236, 0.1);
}

/* Стиль для активной вкладки, который применяется ТОЛЬКО при наличии класса .selected */
.tab-button.selected {
  background-color: #ECECEC;
  color: #2C2C54;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.tab-panels {
  display: none; 
}


/* --- Стили для темной темы --- */
.dark-theme .tab-list {
  background-color: #1B1A55;
}

.dark-theme .tab-button {
  color: #9290C3;
}

.dark-theme .tab-button:hover {
  background-color: rgba(146, 144, 195, 0.1);
}

.dark-theme .tab-button.selected {
  background-color: #9290C3;
  color: #070F2B;
}